<div>
    <h1>それ、JunkLifeにしまっておこう</h1>
    <p>置き場所が無くて捨てる、長年愛用したけど壊れてしまった、ボツにしたけどお気に入りの作品</p>
    <p>JunkLifeは、そんな特別な　不要物(Junk)　をデジタルに保管、共有するSNSサービスです</p>
</div>
<%=link_to 'コレクトする！',new_user_registration_path%>
<h2>みんなのコレクションを見てみよう！</h2>
<%=render 'all_users_feed'%>