<% provide(:title, Settings.titles[:contact]) %>
<div class="text-center">
    <h1 class="font-weight-bold"><%= Settings.contact_utils[:title] %></h1>
    <p class="mt-5"><%= Settings.contact_utils[:email] %></p>
</div>
