
/* header */

header{
    width:85%;
    margin-right: auto;
    margin-left : auto;

    .navbar-brand{
        font-size:27px;
    }
    .title-min{
        font-size:20px;
    }
    .user-name{
        padding-top:2px;
    }
    .nav-avatar{
        margin-left:15px;
    }


}

body{
    width:80%;
    margin-right: auto;
    margin-left : auto;

    li {
        list-style: none;
    }

    .personal-name{
        font-size:20px;
        font-weight:bold;
    }

    .feed-name{
        margin-top:15px;
        margin-bottom:10px;
    }

    .card-img-top{
        border-radius: 7px;
    }
    .card{
        padding-left:15px;
    }

    .avatar-type-circle{
        border-radius: 50%;
    }
    .avatar-type-square{
        border-radius: 10px;
    }

    .post-cards{
        margin-top:25px;
    }
    .home-btn{
        margin-top:15px;
        margin-bottom:20px;
    }
    .feed-name{
        margin-top:15px;
        margin-bottom:10px;
    }
    .top-copy{
        display:block;
        margin-top:15px;
    }
    .post-prev{
        border-radius:5px;
    }
    .field{
        width:40%;
        margin:0 auto
    }
    .post-picture{
        width:700px;
        height:auto;
        border-radius: 5px;
    }
    .home-top-copy{
        font-size:80px;
    }
    .like-button{
        background:none;
        border:none;
    }
    .like-button:focus{
        outline:0;
    }
    .fa-bars{
        font-size:18px;
    }

}

footer{
    width:80%;
    margin-right: auto;
    margin-left : auto;
}


/*slick setting*/

.slider{
margin: 0 auto;
width: 80%;
padding-right:50px;
}
.slider img{
    border-radius: 5px;
    height: auto;
    width: 100%;
    }


.slick-dots{
    right:0px;
}





