
/* header */

header{
    width:85%;
    margin-right: auto;
    margin-left : auto;

    .navbar-brand{
        font-size:27px;
    }
    .titleMin{
        font-size:20px;
    }
    .userName{
        padding-top:2px;
    }
    .navAvatar{
        margin-left:15px;
    }
    .postBtn{
        margin-top:1px;
    }
    .settingsIcon{
        padding-top:4px;
        margin-bottom:5px;
    }

}

body{
    width:80%;
    margin-right: auto;
    margin-left : auto;

    li {
        list-style: none;
    }

    .personalName{
        font-size:20px;
        font-weight:bold;
    }
    .postLikesBtn{
        margin-left:860px;
    }

    .feedName{
        margin-top:15px;
        margin-bottom:10px;
    }

    .card-img-top{
        border-radius: 7px;
    }
    .card{
        padding-left:15px;
    }

    .avatarTypeCircle{
        border-radius: 50%;
    }

    .postCards{
        margin-top:25px;
    }
    .homeBtn{
        margin-top:15px;
        margin-bottom:20px;
    }
    .feedName{
        margin-top:15px;
        margin-bottom:10px;
    }
    .topCopy{
        display:block;
        margin-top:15px;
    }
    .postPrev{
        border-radius:5px;
    }
    .field{
        width:40%;
        margin:0 auto
    }
    .postPicture{
        width:700px;
        height:700px;
        border-radius: 5px;
    }
    .homeTopCopy{
        font-size:80px;
    }
    .likeBtn{
        background:none;
        border:none;
    }
    .likeBtn:focus{
        outline:0;
    }
    .fa-bars{
        font-size:18px;
    }
}

footer{
    width:80%;
    margin-right: auto;
    margin-left : auto;
}


/*slick setting*/

.slider{
margin: 0 auto;
width: 80%;
padding-right:50px;
}
.slider img{
    border-radius: 5px;
    height: auto;
    width: 100%;
    }


.slick-dots{
    right:0px;
}





