<%= provide(:title,"ユーザー") %>
<h1 class="font-weight-bold text-center mb-5">ユーザー検索</h1>
<%= render'/static_pages/search_form_users' %>
    <% if @user_search_feeds.any? %>
        <div class="conteiner">
            <div class="card-group　mx-auto">
                <div id="user_list" class="row">
                    <%= render partial: 'users', collection: @user_search_feeds, as: "user" %>
                </div>
                <div class="text-center">
                    <%= link_to_next_page @user_search_feeds,"さらに表示",remote: true, params: { type: :user_list }, class: 'btn btn-warning btn-lg',id: 'view_more' %>
                </div>
            </div>
        </div>
    <% else %>
        <p class="text-center mt-5">ユーザーが見つかりませんでした</p>
    <% end %>


