<%provide(:title,@title)%>

<div class="text-center">
    <h2><%=@page_title%></h2>

    <%=@user.name%>
    <%if @users.any?%>
        <%@users.each do |user|%>
            <%=link_to user.name,user%>
        <%end%>
        <%=paginate @users%>
    <%end%>
</div>